.form-container{
    background-color: white;
    width: 22rem;
    height: 20rem;
    /* display: flex; */
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}
.form-group{
    width: 60%;
    /* margin-right: 10rem; */
    margin: auto;
    margin-bottom: 1rem;
}
.form-group-login{
    width: 30%;
    margin: auto;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    border-radius: 3px;
    color: aliceblue;
}
.form-group-login:hover{
    transform: scale(1.1);
    transform: rotate(720deg);
    background-color: rgb(10, 43, 133);
}