/* style.css */
body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f2f2f2; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    /* cursor: pointer; */

}

/* Add this to your existing style.css */

.welcome-container {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.logout-button {
    display: inline-block;
    /* padding: 10px 10000px; */
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    height: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: transform 1s ease-in-out; */
}

.logout-button:hover {
    background-color: #c82333;
    /* transform: rotate(360deg); */
}

.form-container {
    background-color: white;
    width: 22rem;
    height: 20rem;
    /* display: flex; */
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
}

.form-group {
    width: 60%;
    /* margin-right: 10rem; */
    margin: auto;
    margin-bottom: 1rem;
}

.form-group-login {
    width: 30%;
    margin: auto;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    border-radius: 3px;
    color: aliceblue;
}

.form-group-login:hover {
    transform: scale(1.1);
    transform: rotate(720deg);
    background-color: rgb(10, 43, 133);
}

nav {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#openBtn {
    font-size: 30px;
    cursor: pointer;
    display: block;
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 24px;
    color: #00ff00;
    /* Green color for the tick */
    display: none;
}

/* Add this CSS rule to style the selected link */
#sidebar a.selected {
    background-color: #333;
}

/* Add this CSS rule to style the checkbox */
#sidebar a input[type="checkbox"] {
    display: inline-block;
    width: 20px;
      height: 20px;
      border: 2px solid #3498db;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      margin-right: 5px;
}

#sidebar a input[type="checkbox"]:checked+.checkmark {
    display: block;
    background-color: #333;
}
.sidebar-title{
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
