<!DOCTYPE html>
<html>

<head>
    <title>Filter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.webp') }}" type="image/x-icon">
</head>

<body class="welcome-container" id="filter_body">
    <div class="welcome-container">
        <nav>
            <span>Welcome, {{ username }}!</span>
            <a href="/logout" class="logout-button">Logout</a>
        </nav>
        <div class="goback">
            <button onclick="changePage1()">
                Analyze Stocks
            </button>
        </div>
        <div class="head_text_2">
            <p>Select the Filtering Parameter</p>
            <div class="dropdown">
                <input type="text" class="dropdown-input" id="selectedOption" readonly onclick="toggleDropdown()"
                    value="Select an option">
                <div class="dropdown-content" id="dropdownOptions">
                    <a href="#" onclick="selectOption('Open Price')">Open Price</a>
                    <a href="#" onclick="selectOption('Close Price')">Close Price</a>
                    <a href="#" onclick="selectOption('Volume/Trade')">Volume/Trade</a>
                    <a href="#" onclick="selectOption('Daily Increment')">Daily Increment</a>
                </div>
            </div>
            <div class="gofilter">
                <button onclick="updateParam()">
                    Go
                </button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='welcome.js') }}"></script>
</body>

</html>